<!-- MAIN INDEX PAGE -->
<!DOCTYPE html>

<html lang="">
<head>
<title>ABCH</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Main CSS File -->
<link href="../static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

<!-- NAVBAR -->
<div class="wrapper row1" style="background-color: #004d80">
  <header id="header" class="hoc clear" style="background-color: #004d80">
    <div id="logo" class="fl_left"> 
      <h1><a href="/">ABC Hospital</a></h1>
    </div>
    <nav id="mainav" class="fl_right" style="background-color: #004d80">
      <ul class="clear">
        <li class="active"><a href="/" style="background-color: #004d80">Home</a></li>
        <li><a href="#aboutus" style="background-color: #004d80">About Us</a></li>
        <li><a href="#services" style="background-color: #004d80">Services</a></li>
        <li><a href="#departments" style="background-color: #004d80">Departments</a></li>
        <li><a href="#contactus" style="background-color: #004d80">Contact Us</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- NAVBAR -->

<!-- HEADER BANNER -->
<div class="wrapper bgded" style="background-image:url('../static/images/demo/hero-bg.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <article style="color: black;">
      <p>The Most Trusted</p>
      <h3 class="heading">Multi Speciality Hospital</h3>
      <p>With All Latest Equipments And Departments In Coimbatore.</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">Book an appointment</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<!-- HEADER BANNER -->

<!-- ABBOUT US BANNER -->
<div class="wrapper coloured" style="background-color: #004d80" id="aboutus">
  <article class="hoc cta clear">
    <h6 style="text-align: center;">ABC Hospital is the only Multispeciality hospital in Coimbatore. Founded in 1975, we aim to provide quality medical services to the people. With latest technology and equipments, ABCH offers excellent medical care and support all days in a year. It is the vision of our hospital to be a humane health care service provider of the highest standard, focusing on providing accessible, safe, effective and efficient medical services to the Community.</h6>
  </article>
</div>
<!-- ABBOUT US BANNER -->

<!-- HOSPITAL SERVICES -->
<div class="wrapper row2" id="services">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Our Services</h6>
      <p>Our services are the best in the city. Click to know more about it.</p>
    </div>

    <ul class="nospace group prices">
      <li class="one_third">
        <article><i><img src="../static/images/demo/icu.png"></i>
          <h6 class="heading">Intensive Care Unit</h6>
          <p>Our ICU department provides intensive and specialized medical and nursing care.</p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i><img src="../static/images/demo/transcription.png"></i>
          <h6 class="heading">Medical Transcription</h6>
          <p>We have excellent medical transcription service where the patient's records are stored and secured.</p>
          <!-- <footer><a class="btn" href="sample.html">Details</a></footer> -->
		  <footer><a class="btn" href="/medtran">Details</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i><img src="../static/images/demo/consulting.png"></i>
          <h6 class="heading">Online Consultation</h6>
          <p>Talk to our expert doctors through our platform from the comfort of your home.</p>
          <footer><a class="btn" href="#">Details</a></footer>
        </article>
      </li>
    </ul>

  </section>
</div>
<!-- HOSPITAL SERVICES -->

<!-- HOSPITAL DEPARTMENTS -->
<div class="wrapper row3" id="departments">
  <main class="hoc container clear">
    <section id="introblocks">

      <div class="sectiontitle">
        <h6 class="heading">Our Departments</h6>
        <p>We have separate departments for various specialities.Click to know more about it.</p>
      </div>

      <ul class="nospace group">
        <li class="one_third first">
          <article><i><img src="../static/images/demo/cardiology.png"></i>
            <h6 class="heading">Cardiology</h6>
            <p>Well equipped cardiology care unit with skilled doctors to treat emergency cardio cases.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><i><img src="../static/images/demo/brain.png"></i>
            <h6 class="heading">Neurology</h6>
            <p>Emergency neurology cases and critically ill neurology patient are treated effectively with the team of neurologists.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><i><img src="../static/images/demo/sugar-blood-level.png"></i>
            <h6 class="heading">Diabetics</h6>
            <p>With increase in diabetic cases worldwide, we provide excellent medical care to control diabetes.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
      </ul>
	  <br>
	  <ul class="nospace group">
        <li class="one_third first">
          <article><i><img src="../static/images/demo/pulmonology.png"></i>
            <h6 class="heading">Pulmonology</h6>
            <p>With increase in pollution, lungs are damaged. We provide excellent medical care to lung diseases.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><i><img src="../static/images/demo/kidney.png"></i>
            <h6 class="heading">Nephrology</h6>
            <p>We have special care unit for emergency chronic renal and dialysis with skilled doctors.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><i><img src="../static/images/demo/icons8-pediatrician-64.png"></i>
            <h6 class="heading">Paediatrics</h6>
            <p>Paediatrics department provides comprehensive and complex range of services in all specialities. </p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </article>
        </li>
      </ul>

    </section>
    <div class="clear"></div>
  </main>
</div>
<!-- HOSPITAL DEPARTMENTS -->

<!-- HOSPITAL ALLIED SERVICES -->
<div class="wrapper row2">
  <section id="latest" class="hoc container clear">

    <div class="sectiontitle">
      <h6 class="heading">Our Allied Services</h6>
      <p>Our Pharmacy, Ambulance services are accessible to everyone 24/7</p>
    </div>

    <ul class="nospace group">
      <li class="one_third">
        <figure><img src="../static/images/demo/pharm.jpg" alt="">
          <figcaption>24 / 7 Pharmacy</figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="../static/images/demo/amb.jpg" alt="">
          <figcaption>24 / 7 Ambulance service</figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="../static/images/demo/lab.jpg" alt="">
          <figcaption>24 / 7 Laboratories</figcaption>
        </figure>
      </li>
    </ul>

  </section>
</div>
<!-- HOSPITAL ALLIED SERVICES -->

<!-- CONTACT US -->
<div class="wrapper row3" id="contactus">
  <section id="cta" class="hoc container clear">

    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><i class="fas fa-phone"></i> <span><strong>Give us a call:</strong>0422 123 4567</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><i class="fas fa-envelope"></i> <span><strong>Send us a mail:</strong>abchospital@gmail.com</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><i class="fas fa-clock"></i> <span><strong> Timings:</strong>24 / 7</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><i class="fas fa-map-marker-alt"></i><span><strong>Location:</strong>Coimbatore, TN, IN</span></div>
      </li>
    </ul>

  </section>
</div>
<!-- CONTACT US -->

<!-- FOOTER -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 

    <div class="one_quarter first">
      <h6 class="heading">About Us</h6>
      <p>ABC Hospital is the only Multispeciality hospital in Coimbatore. Founded in 1975...</p>
      <p class="btmspace-30">With latest technology and equipments, ABCH offers excellent medical care... [<a href="#"><i class="fas fa-arrow-right"></i></a>]</p>
      <p>Follow Us On...</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-linkedin" href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>

    <div class="one_quarter">
      <h6 class="heading">Read from our blog</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="https://www.webmd.com/vaccines/covid-19-vaccine/news/20220523/pfizer-says-covid-vaccine-response-strong-in-young-children">Pfizer says Covid vaccine response strong in young children&hellip;</a></p>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="https://www.webmd.com/a-to-z-guides/news/20220524/us-releasing-monkeypox-vaccine-national-stockpile">USA relseasing monkeypox vaccine - National Stockpile&hellip;</a></p>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="https://www.webmd.com/alzheimers/story/centerpiece-alzheimers-memory">Will we ever see an end to Alzheimer's?&hellip;</a></p>
          </article>
        </li>
      </ul>
    </div>

    <div class="one_quarter">
      <h6 class="heading">Quick Links</h6>
      <ul class="nospace linklist">
        <li><a href="/">Home</a></li>
        <li><a href="/medtran">Medical Transcription</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#departments">Departments</a></li>
        <li><a href="/#contactus">Contact Us</a></li>
      </ul>
    </div>

    <div class="one_quarter">
      <h6 class="heading">Any Queries</h6>
      <p class="nospace btmspace-15">Mail us and we will get back to you!</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Queries:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>

  </footer>
</div> 

<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p style="text-align: center;">Copyright &copy; 2022 - Developed by Gowtham Prasad S</p>
  </div>
</div>
<!-- FOOTER -->

<!-- JAVASCRIPTS -->
<script src="C:\Users\goutham\Documents\5th year\Project\static\layout\scripts\jquery.min.js"></script>
<script src="C:\Users\goutham\Documents\5th year\Project\static\layout\scripts\jquery.backtotop.js"></script>
<script src="C:\Users\goutham\Documents\5th year\Project\static\layout\scripts\jquery.mobilemenu.js"></script>
<!-- JAVASCRIPTS -->
</body>
</html>
<!-- MAIN INDEX PAGE -->